{# empty Twig template #}

{% extends "ccGestionFraisBundle:Visiteur:v_sommaire.html.twig" %}

{% block contenu %}
    
    <h3>Fiche du {{ mois }} :</h3>
    <b>Etat : {{ fiche.libEtat }}</b>
    <br/>
    
    <h4>Frais forfait :</h4>
    
    <table class="listeLegere">
        <tr>
            <th>Frais forfaitisé</th>
            <th>Quantité</th>
        </tr>
        {% for ff in ffs %}
            <tr>
                <td>{{ ff.libelle }}</td>
                <td>{{ ff.quantite }}</td>
            </tr>
        {% endfor %}
    </table>
    
    <h4>Frais hors forfait :</h4>
    <table class="listeLegere">
        <tr>
            <th>Frais hors forfait</th>
            <th>Date</th>
            <th>Montant</th>
        </tr>
        {% for fhf in fhfs %}
        <tr>
            <td>{{ fhf.libelle }}</td>
            <td>{{ fhf.date }}</td>
            <td>{{ fhf.montant }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <h4>Total des remboursements :</h4>
    <div>
        Justificatifs validés : {{ fiche.nbJustificatifs }} <br>
        Montant total validé : {{ fiche.montantValide }}
    </div>
    
{% endblock %}