{# empty Twig template #}

{% extends "ccGestionFraisBundle:Visiteur:v_sommaire.html.twig" %}

{% block contenu %}
    <h3>Renseigner ma fiche du mois {{ mois }}</h3>
    
       
        <h4>Eléments forfaitisés :</h4>
        {{ form(formFF) }}
        
        <div id="fraishorsforfait">
            <table class="listeLegere">
                <tr>
                    <th>Date</th>
                    <th>Libelle</th>
                    <th>Montant</th>
                    <th>Action</th>
                </tr>
                <br>
                {% for unfhf in fhfactuels %}
                <tr>
                    <!-- <input type="hidden" name="id" value="{# unfhf.id #}" /> -->
                    <td> {{ unfhf.date }} </td>
                    <td> {{ unfhf.libelle }} </td>
                    <td> {{ unfhf.montant }} </td>
                    <td> <a href="{{ url('supprFrais', {'id' : unfhf.id}) }}"><button class="supprimer">Supprimer</button></a> </td>
                </tr>    
                {% endfor %}
                
                <tr>
                    {{ form_start(formFHF) }}
                    <td>{{ form_widget(formFHF.date) }}</td>
                    <td>{{ form_widget(formFHF.libelle) }}</td>
                    <td>{{ form_widget(formFHF.montant) }}</td>
                    <td>{{ form_widget(formFHF.valider) }}</td>
                    {{ form_end(formFHF) }}
                </tr>
            </table>
           
            <br><br>
            
        </div>
                <br><br>
        
    
{% endblock %}