{# empty Twig template #}

{% extends "ccGestionFraisBundle:Visiteur:v_sommaire.html.twig" %}

{% block contenu %}
    <h3>Renseigner ma fiche du mois {{ mois }}</h3>
    
    {% block fraisforfait %}
       
        <h4>Eléments forfaitisés :</h4>
        
        <form action="traiterFrais" method="POST">
            <div id="fraisforfait">
                <label>Etapes</label>
                <input type="number" name="nbEtapes" value="{{ fraisforfait.0.quantite }}"/>
                <br>
                <label>Kms</label>
                <input type="number" name="nbKms" value="{{ fraisforfait.1.quantite }}"/>
                <br>
                <label>Nuits</label>
                <input type="number" name="nbNuits" value="{{ fraisforfait.2.quantite }}" />
                <br>
                <label>Repas</label>
                <input type="number" name="nbRepas" value="{{ fraisforfait.3.quantite }}" />
            </div>
            <input type="submit" />
        </form>
        
       
        
    {% endblock %}
    
{% endblock %}