{# empty Twig template #}

{% extends "ccGestionFraisBundle::v_generale.html.twig" %}

{% block corps %}
    
    {% block sommaire %}
        <!--
    <nav class="navbar navbar-default">
     <div id="infosUtil"></div>  
        <div class="navbar-header">
				  Visiteur :
                                {{ user.prenom }} {{user.nom}}
	</div>
        <ul id="nav navbar-nav">
			
           <li class="element-menu">
              <a href="{{ path('saisieFiche') }}" title="Saisie fiche de frais ">Saisie fiche de frais</a>
           </li>
           <li class="element-menu">
              <a href="{{ path('consulterFrais') }}" title="Consultation de mes fiches de frais">Mes fiches de frais</a>
           </li>
 	   <li class="element-menu">
              <a href="{{ path('deconnexion') }}" title="Se déconnecter">Déconnexion</a>
           </li>
         </ul>
        
    </nav> -->
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                Visiteur : {{ user.prenom }} {{user.nom}}
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('saisieFiche') }}">Saisie fiche de frais</a></li>
                <li><a href="{{ path('consulterFrais') }}">Consultation de mes fiches de frais</a></li>
                <li><a href="{{ path('deconnexion') }}">Se déconnecter</a></li>
            </ul>
        </div>
    </nav>
                                
    {% endblock %}
    
    {% block contenu %}
    {%endblock%}
    
{% endblock %}
