
{% extends "ccGestionFraisBundle::v_generale.html.twig" %}

{% block head %}
    <link rel="stylesheet" href="{{asset('bundles/ccgestionfrais/css/erreur_co.css')}}" type="text/css" />
{% endblock %}
    
{% block corps %}
    
    {% for flash_message in app.session.flashbag.get('fail') %}
        <div class="erreurco" >
            {{flash_message}}
        </div>
    {% endfor %}
    
    <h3>Veuillez vous authentifier :</h3>
    {{ form_start(form) }}
        {{ form_label(form.login, "Login") }}
        {{ form_widget(form.login) }}
        {{ form_label(form.mdp, "Mot de passe") }}
        {{ form_widget(form.mdp) }}
        {{ form_label(form.profil, "Profil") }}
        {{ form_widget(form.profil) }} </br> </br>
        {{ form_widget(form.valider) }}
        {{ form_widget(form.annuler) }}
    {{ form_end(form) }}
{% endblock %}
