
{% extends "ccGestionFraisBundle::v_generale.html.twig" %}

{% block corps %}
    
    {% block sommaire %}
        <!--
    <div id="menuGauche">
     <div id="infosUtil">
    
      </div>  
        <ul id="menuList">
			<li >
				  Comptable :<br>
                                {{ user.prenom }} {{user.nom}}
			</li>
           <li class="smenu">
              <a href="{{ path('validerFiches') }}" title="Valider des fiches de frais ">Valider des fiches de frais</a>
           </li>
           <li class="smenu">
              <a href="{{ path('suivre') }}" title="Suivre des fiches de frais">Suivre des fiches de frais</a>
           </li>
 	   <li class="smenu">
              <a href="{{ path('deconnexion') }}" title="Se déconnecter">Déconnexion</a>
           </li>
         </ul>
        
    </div> -->
                                
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                Comptable : {{ user.prenom }} {{user.nom}}
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('validerFiches') }}">Valider des fiches de frais</a></li>
                <li><a href="{{ path('suivre') }}">Suivre des fiches de frais</a></li>
                <li><a href="{{ path('deconnexion') }}">Se déconnecter</a></li>
            </ul>
        </div>
    </nav>
        
    {% endblock %}
    
    {% block contenu %}
    {%endblock%}
    
{% endblock %}