
{% extends "ccGestionFraisBundle:Comptable:v_sommaire.html.twig" %}

{% block contenu %}
    
    <h3>Saisissez le visiteur et le mois pour lequel vous voulez consulter une fiche de frais</h3>
    <p>Le mois est à entrer au format année-mois (exemple : 2016-02)</p>
    
    {% for flash_message in app.session.flashBag.get('notice') %}
    <div class="info">
        {{ flash_message }}
    </div>
    {% endfor %}
    
    {{ form_start(form) }}
        {{ form_errors(form) }}
        
        {{ form_errors(form.visiteur) }}
        {{ form_label(form.visiteur, "Visiteur") }}
        {{ form_widget(form.visiteur) }}
        
        {{ form_errors(form.mois) }}
        {{ form_label(form.mois, "Mois") }}
        {{ form_widget(form.mois) }}
        <div>
            {{ form_widget(form.Rechercher, {'attr' : {'class' : 'rechercher'} }) }}
            {{ form_widget(form.Annuler) }}
        </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}
    
{% endblock %}
